
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profiles</h2>

<section>
    <img src="~/Content/img/Volunteer Profile - Home by Semenchuk Nadiia.png" />
</section>

<p class="btn btn-default">@Html.ActionLink("Update", "Index", "Volunteers")</p>
